@import url("https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap");

@import "tailwindcss";
@theme {
  /* Custom Fonts */
  --font-sans: "Montserrat", sans-serif;
  --animate-link-hover: linkHover 0.3s forwards;

  /* Custom Colors */
  --color-primary: #1a535c;
  --color-secondary: #4ecdc4;

  /* Custom Breakpoints */
  --breakpoint-sm: 640px;
  --breakpoint-md: 768px;
  --breakpoint-md2: 832px;
  --breakpoint-lg: 1024px;
  --breakpoint-xl: 1300px;
}
html {
  scroll-behavior: smooth;
}
button {
  @apply cursor-pointer;
}

@keyframes linkHover {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}
